@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

#main-display {
  background-color: #191919;
}

a, button, input {
  transition: all 0.3s ease;
}

.delay-display {
  transition: all 0s ease-in-out 5s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.subtitles, .audio {
  overflow-wrap: anywhere;
  text-align: center;
}

.effect-1,
.effect-2 {
  overflow: hidden;
}

@keyframes destroyElement {
  to {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.remove-element {
  overflow: hidden;
  animation: destroyElement 0.5s ease-in-out 3s !important;
  animation-fill-mode: forwards !important;
}